* {
  margin: 0;
}
/* start variables */
:root {
  --main-color: #314584;
  --main-padding: 70px 0;
  --second-color: #f5535de0;
  --main-transition: 0.6s;
}
/* end variables 
/* start components */
.second-heading {
  color: var(--main-color);
  font-weight: bold;
  font-size: 30px;
}
/* end components */

/* start rules */

a {
  color: var(--main-color);
  text-decoration: none;
}
a:hover,
.nav-link:hover {
  color: red !important;
  text-decoration: none !important;
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--main-color);
}
p {
  color: #5a6d81;
  line-height: 2;
}
.btn:hover {
  outline: var(--second-color) !important;
  background: transparent !important;
  color: var(--second-color) !important;
}
/* edit scroll */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  transition: 0.4s;
}

::-webkit-scrollbar-thumb:hover {
  background: rebeccapurple;
}

/* end rules */

/* start header */
/* .header nav {
padding:0 60px;
} */
header .navbar {
  box-shadow: 0 0 2px #6c757dc2;
}
header .navbar .navbar-brand {
  color: var(--main-color);
  font-size: 30px;
  font-weight: bold;
  margin-left: 15px;
}
header .navbar .navbar-brand::after {
  content: "";
  width: 30px;
  display: block;
  height: 6px;
  background-color: red;
  margin: 0 25px;
}
.header .navbar .container .navbar-toggler {
  border: none;
}
.header .navbar .lang {
  padding: 15px;
}
.header .container .lang select:focus {
  outline: none;
}
.header .container .lang select {
  border: none;
  margin-right: 30px;
  font-weight: bold;
}
.header .container .lang button {
  color: red;
  padding: 10px;
  font-weight: 500;
  background-color: white;
  box-shadow: 1px 1px 3.5px #4444443d;
}
header .navbar .container .nav-item .nav-link {
  padding: 1rem;
  font-weight: bold;
  color: var(--main-color);
}
/* end header */

/* start landing */
.landing {
  display: flex;
  justify-content: space-around;
  padding: var(--main-padding);
}
.landing {
  position: relative;
}
.landing img {
  width: 450px;
  margin-top: -35px;
}
.landing .text h2 {
  font-size: 4.4rem;
  color: var(--main-color);
}
.landing .text p {
  font-size: 20px;
  line-height: 1.5;
}
.landing .text > * {
  margin: 25px;
}
.landing .text .btn {
  border-radius: 30px;
  transition: var(--main-transition);
  padding: 15px 34px;
  margin-right: 15px;
  background-color: var(--second-color);
  box-shadow: 0 0 7px #0000005e;
  font-weight: bold;
  color: white;
}

/* end landing */

/* start services */
.services {
  padding: var(--main-padding);
  position: relative;
}
/* .services .card-deck {
    width: 80%;
} */
.services .card-deck .card {
  box-shadow: 0 0 3px #545b62;
}
.services .card-deck .card .card-body {
  padding: 35px 40px;
}
.services .card-deck .card .card-body > * {
  padding: 10px;
}
.services div .btn {
  border-radius: 30px;
  transition: var(--main-transition);
  padding: 12px 42px;
  margin-top: 15px;
  background-color: var(--second-color);
  box-shadow: 0 0 7px #0000005e;
  font-weight: bold;
  color: white;
}
/* end services */
/* start company */
.company {
  padding: var(--main-padding);
}
.company p:first-child {
  color: var(--second-color);
  font-weight: bold;
}
.company .text p:last-child {
  padding: 25px 0;
}
/* end company */

/* start subscribe */
.sub-overlay {
  position: fixed;
  background-color: #343a40;
  z-index: 9999;
  width: 100%;
  height: 100vh;
  opacity: 0.4;
  top: 0;
}
.sub-overlay.remove {
  width: 0;
  height: 0;
}
.subscrib {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 10000;
  overflow: hidden;
}
.subscrib.remove {
  width: 0;
  height: 0;
}
.subscrib.showsub {
  height: 100%;
  width: 100%;
}
.subscrib .container {
  box-shadow: 1px 1px 5px #343a404d;
  padding: 40px;
  width: 900px;
  position: relative;
}
.subscrib .container .closs-icon {
  text-align: right;
  font-weight: bold;
  font-size: 25px;
  display: block;
  position: absolute;
  top: 5px;
  font-family: arial, sans-serif;
  right: 15px;
  color: var(--main-color);
  cursor: pointer;
}
.subscrib .container .content .text .second-heading {
  font-size: 45px;
}
.subscrib .container .content .text .btn {
  font-weight: bold;
}
.subscrib .container .content .text .btn:hover {
  color: var(--main-color) !important;
}
/* end subscrib */

/* start work */
.work .container .boxes .row .box {
  margin: 15px;
  padding: 80px 100px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  border-radius: 5px;
  min-width: 350px;
  background-color: #677a8f99;
  position: relative;
  overflow: hidden;
  transition: opacity 0.5s, transform 0.5s;
}
.work .container .boxes .row .box span {
  width: 60px;
  height: 60px;
  display: block;
  transition: 1s;
  position: absolute;
  border-radius: 50%;
  top: -29px;
  left: -37px;
  background-color: var(--main-color);
}
.work .container .boxes .row .box p {
  color: white;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  bottom: -47px;
  transition: 1s;
}
.work .container .boxes .row .box:hover span {
  box-shadow: 0 0 0 500px var(--main-color);
  top: 0;
  left: 0;
  border-radius: 50%;
}
.work .container .boxes .row .box:hover p {
  bottom: 35%;
  transform: translateY(-50%);
}
.work .container .show-More {
  transition: var(--main-transition);
  border-radius: 10px;
  padding: 12px 42px;
  margin-top: 15px;
  background-color: var(--second-color);
  box-shadow: 0 0 7px #0000005e;
  font-weight: bold;
  color: white;
  display: block;
  margin: 20px auto;
}
/* end work */

/* start blog */
.blog {
  padding: var(--main-padding);
}
.blog .container p:first-child {
  color: var(--second-color);
  font-weight: bold;
}
.blog .container .card-deck {
  margin-top: 45px;
}
.blog .container .card-deck .card {
  box-shadow: 0 0 2px #00000045;
  transition: 1s;
}
.blog .container .card-deck .card > * {
  padding: 40px 60px;
}
.blog .container .card-deck .card .card-title {
  font-size: 20px;
  color: var(--main-color);
  font-weight: bold;
}
.blog .container .card-deck .card:hover {
  background-color: var(--second-color);
  box-shadow: 0 0 0 0;
}
.blog .container .card-deck .card:hover .card-body > * {
  color: white;
}
/* end blog */

/* start contact us */
.contact .container p:first-child {
  color: var(--second-color);
  font-weight: bold;
}
.contact .container form {
  margin-top: 40px;
}
.contact .container form .form-group .form-control {
  padding: 16px;
  border: none;
  background-color: #17a2b80d;
  box-shadow: 0 0 3px #0000001f;
}
.contact .container form .form-group .form-control::placeholder {
  color: var(--main-color);
  font-weight: bold;
}
.contact .container form button {
  border-radius: 30px;
  padding: 12px 42px;
  margin-top: 15px;
  background-color: var(--second-color);
  box-shadow: 0 0 7px #0000005e;
  font-weight: bold;
  color: white;
  margin-left: 50%;
  transform: translateX(-50%);
}
/* end contact us */

/* start footer */
.footer {
  margin-top: 80px;
  padding: 50px;
  text-align: center;
  color: white;
  background-color: var(--main-color);
}
.footer p {
  color: white;
  font-weight: bold;
}
.footer .nav {
  text-align: center;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 0;
}
.footer .nav .nav-link {
  color: white;
}

.footer > * {
  margin-top: 25px;
}
.footer h2 {
  font-size: 60px;
  color: var(--second-color);
  margin-top: 15px;
}
.footer p:nth-last-child(2) {
  font-weight: 400;
}

/* end footer */

/* media */
@media (max-width: 991px) {
  .work,
  .services,
  .company,
  .blog,
  .contact {
    margin-bottom: 15px;
    text-align: center;
  }
  .landing {
    padding-bottom: 0;
  }
  .landing .container .row .text {
    margin-bottom: 45px;
  }
  .services .row div:first-child {
    margin-bottom: 25px;
  }
}
